.glass-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1)
}

.grain-texture {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDmuclF82EmoZRJn2aBb3xkAbvtC8YecaTHZ0UzvUBAgr-dLWM9MNyUTuXmnb_3A83ey82Wnzx-Nu8qQTkrBE0FxOlsFLoGx_q-O0kmNgWWmp26MrBhUtpFRdpkLq4qHpNE71_9vznGWGxUWGmwwqPv_ajVmlY8R4NT-y010X-Yy0b_fB72XlCkE0JVJpVMvcjqKv53m0B3Zaw-t_hDXfWbzgftcx1oSH8hZGRe_wNj5fn_CujtlrcGl_Fzl3ca2W9nNX_oT5vhUGA);
    opacity: 0.03;
    pointer-events: none
}

.blob {
    position: absolute;
    filter: blur(80px);
    z-index: -1;
    border-radius: 100%
}
